.container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.founder {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.founder img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.founder p {
    margin: 0;
    font-size: 1.1rem;
}

h3 {
    text-align: center;
    margin-top: 30px;
}

#table-wrap {
    margin-top: 25px;
    background-color: lavender;
    border: 1px solid midnightblue;
}

table {
    width: 100%;
    color: midnightblue;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: midnightblue;
    color: white
}

tr {
    background-color: lightsteelblue;
}

tr:nth-child(even) {
    background-color: lavender;
}