* {
    box-sizing: border-box;
}

body {
    background-color: #B9F3E4;
    color: #05505E;
    font-family: Helvetica;
    margin: 0;
}

header {
    display: flex;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

main {
    margin-top: 90px;
}

nav {
    display: flex;
    background-color: #08333F;
    width: 100%;
    color: #D7DEBF;
}
#not-a {
    font-weight: 600;
    font-size: 25px;
    cursor: default;
    margin-left: 0.5px;
}
nav a {
    position: relative;
    top: 13px;
    margin-left: 30px;
    text-decoration: none;
    color:#EADA80;
    font-size: 20px;
}

a:hover {
    background-color: #EADA80;
    color: #05505E;
    padding: 5px;
}
.current {
    border-bottom: 1px solid #F7DE6A;
    box-shadow: 0 1px 0  #F7DE6A;
    color: #F7DE6A;
}

h1 {
    text-align: center;
    color: #3C285B; 
}

img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #08333F;
    color: #D7DEBF;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer div {
    display: flex;
}

footer > p > a {
    color: #EADA80;
    text-decoration: none;
}

footer > div > a:hover {
    background-color: unset !important;
    color: unset !important;
    padding: unset !important;
}

/* Done with template. Adding logo */

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
    min-width: 25px;
    background-color: #D7DEBF;
    padding: 1px;
    margin-right: 1px;
    border-radius: 8px 10px;
}