<nav>
    <p id="not-a" onselectstart="return false">Charlotte Giants<p>
    <a href="index.html">Home</a>
    <a href="guide.html">Guide</a>
    <a href="about.html">About</a>
    <a href="perks.html">Perks</a>
    <a href="join.html">Join Us</a>
</nav>
<!--
<script>
    function highlightCurrentPage() {
        var nav = document.querySelector("nav");
        var links = nav.getElementsByTagName("a");
        var currentPage = window.location.href.split("/").pop().split(".")[0];
        for (var i = 0; i < links.length; i++) {
            var link = links[i];
            var linkPage = link.href.split("/").pop().split(".")[0];
            if (linkPage == currentPage) {
                link.classList.add("current");
            }
        }
    }
    highlightCurrentPage();
</script>
-->