<div id="container">
    <div id="logo">
        <img src="images/All-in-C.png" alt="C only logo">
        <h1 onselectstart="return false">harlotte Giants</h1>
    </div>
    <nav>
        <a href="./">Home</a>
        <a href="guide.html">Guide</a>
        <a href="about.html">About</a>
        <a href="perks.html">Perks</a>
        <a href="join.html">Join Us</a>
    </nav>
</div>

<script>
    function highlightCurrentPage() {
        const links = document.querySelectorAll('header nav a');
        const currentUrl = window.location.href;

        if (currentUrl.endsWith('ex.html')) {
            links[0].classList.add('current');
        } else {
            for (let i = 0; i < links.length; i++) {
                if (currentUrl === links[i].href) {
                    links[i].classList.add('current');
                    break;
                }
            }
        }
    }
    highlightCurrentPage();
</script>